.cm-navbar {
  display: flex;
  background-color: #221c1e;
  height: 140px;

  ul {
    list-style: none;
    overflow: hidden;
  }

  a {
    padding: 0.5em;
    color: #ffffff;
  }
  a:hover {
    color: #3273dc;
  }

  &-brand img {
    display: block;
  }
  &-brand a {
    display: inline-block;
    margin-right: 0.875em;
  }

  &-right,
  &-left {
    display: flex;
    padding: 1em;
    align-items: center;
  }

  &-right {
    margin-left: auto;
  }

  .cm-burger-menu {
    display: none;
    cursor: pointer;
    .cm-burger-bar,
    .cm-burger-bar.open {
      display: block;
      width: 16px;
      z-index: 10;
      height: 0.125em;
      background-color: #ffffff;
      margin-top: 0.25em;
      transition: 0.4s;
    }
  }
  .cm-burger-menu.open {
    .cm-burger-bar.top {
      -webkit-transform: rotate(-45deg) translate(-2px, 2px);
      transform: rotate(-45deg) translate(-2px, 2px);
    }
    .cm-burger-bar.middle {
      opacity: 0;
    }
    .cm-burger-bar.bottom {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
}

.cm-nav-dropdown {
  z-index: 999;
  position: absolute;
  top: 140px;
  width: 100%;
  background-color: #221c1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  a {
    padding: 0.5em;
    color: #ffffff;
  }
  a:hover {
    color: #3273dc;
  }

  &.drop-enter {
    opacity: 0;
    transform: translateY(-200px);
  }
  &.drop-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 400ms, linear 400ms;
  }
  &.drop-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  &.drop-exit-active {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 400ms, liner 400ms;
  }
}

@media only screen and (max-width: 768px) {
  .cm-navbar {
    &-left,
    &-right {
      display: none;
    }
    .cm-burger-menu {
      margin-right: 35px;
      margin-left: auto;
      display: block;
      align-self: center;
    }
  }
  .cm-nav-dropdown {
    display: flex;
  }
}
