.p-sm {
    padding: 2px;
}
.p-md {
    padding: 4px;
}
.p-lg {
    padding: 6px;
}
.p-2xmd {
    padding: 8px;
}

.p-2xlg {
    padding: 12px;
}

.p-4xmd {
    padding: 16px;
}

.p-4xlg {
    padding: 24px;
}

